cacheDirCleanUpExpunge="7"
ntlmProxyDomain=""
proxyAuthType="none"
httpClientMaxConnections="50"
secretKey="oJ/8QqFWYUqKrYOeCud+EPtE6jtK9RCUPA5npllC"
httpClientMaxErrorRetry="5"
accessKey="AKIAIJH5HQFJ6U6RG33Q"
cacheDirCleanUpFrequency="100"
connectionTimeout="10000"
multipartUploadThreshold="10485760"
bucketName="ajsampang67-liferay-bucket"
minimumUploadPartSize="5242880"
proxyPassword=""
maxPoolSize="20"
proxyUsername=""
proxyPort="12345"
s3Region="us-east-2"
proxyHost=""
ntlmProxyWorkstation=""
corePoolSize="7"
s3StorageClass="STANDARD"
